* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
}

.container {
  width: 98px;
  max-width: 1200px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}
